---
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Custom
BreakAfterAttributes: Always
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
ReferenceAlignment: Right
SpacesInContainerLiterals: true

SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignFunctionDeclarations: true
  AlignFunctionPointers: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
  PadOperators: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
  AlignPPAndNotPP: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignAfterOpenBracket: true
AllowAllArgumentsOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1000

BinPackArguments: false
BinPackParameters: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline

IndentCaseLabels: false
IndentAccessModifiers: true
AccessModifierOffset: 0
NamespaceIndentation: None

BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: true
